<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
  <link rel="stylesheet" href="./bootstrap.min.css">
</head>
<body>
  <main class="py-5">
    <div class="container">
      <h4 class="mt-2 text-center">Welcome, User!</h4>
      <div class="row mt-5 justify-content-center">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header text-center text-white bg-primary">
              Characters & Categories
            </div>
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-around">
                <h3 class="h1">1900</h3>
                <ul class="list-unstyled pl-5">
                  <li>1300 categories</li>
                  <li>1900 characters</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header text-center text-white bg-secondary">
              Recent Characters
            </div>
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-around">
                <h3 class="h1">50</h3>
                <ul class="list-unstyled pl-5">
                  <li>40 Unassigned</li>
                  <li>10 Assigned</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header text-center text-white bg-danger">
              To-dos
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="todo-item-1">
                  <label class="form-check-label" for="todo-item-1">To do 1</label>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="todo-item-2">
                  <label class="form-check-label" for="todo-item-2">To do 2</label>
                </div>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="todo-item-3" checked>
                  <label class="form-check-label text-muted" for="todo-item-3"><del>To do 3</del></label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>